.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 138px;
}
.link {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
}

.link.active {
  color: #121417;
}
