.header {
  /* display: grid;
  grid-template-columns: 661px 1fr;
  grid-template-columns: 1fr auto;
  align-items: center; */
  height: 48px;
  padding-left: 128px;
  padding-right: 128px;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  background: #fff;
}

.container {
  display: grid;
  grid-template-columns: 661px 1fr;
}

.logoContainer {
  display: grid;
  /* grid-template-columns: 36px 97px 1fr ; */
  grid-template-columns: auto auto 1fr;
  align-items: center;
  /* justify-content:end; */
}

.logoContainer > :last-child {
  justify-self: end;
}

.logo {
  margin-right: 8px;
}

.nav {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #121417;
}

