.container {

  display: grid;
  grid-template-columns: 1fr ;
  padding: 0 30px;
}

.logoContainer {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
}

.logoContainer > :last-child {
  justify-self: end;
}

.logo {
  margin-right: 8px;
}

.nav {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #121417;
}
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 340px 1fr;
    padding: 0 80px;
  }

  .logoContainer {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
   
  }
}

@media screen and (min-width: 1440px) {
  .container {
    grid-template-columns: 631px 1fr;
    padding: 0 128px;
  }
}
