.authNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 16px;
}

.authNavLogIn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
}

.logIn {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
  /* justify-self: end; */
}

.registration {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  border-radius: 12px;
  /* padding: 14px 39px; */
  width: 100px;
  height: 48px;
  background: #121417;
  
}

.link {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
}


.link {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
}

.link.active {
  color: #121417;
  text-decoration: underline;
}


@media screen and (min-width: 768px) {
  .authNav {

    gap: 16px;
  }

  .registration {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #fff;
    border-radius: 12px;
    padding: 14px 39px;
    width: 166px;
    height: 48px;
    background: #121417;
    /* justify-self: end; */
  }
  
}

@media screen and (min-width: 1440px) {
  .authNav {

    gap: 16px;
  }

  /* .registration {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #fff;
    border-radius: 12px;
    padding: 14px 39px;
    width: 166px;
    height: 48px;
    background: #121417;
   
  } */
}
