
.filters,
.teacher{
  width: 380px;
  background: #f8f8f8;
  margin: 0 auto;
}

.filters {
   padding: 20px 0 32px; 
}

/* .container {
  padding-left: 128px;
  padding-right: 128px;
} */

.teacher > .container{
  display: flex;
  flex-direction: column;
}

.teachersList {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 64px;
}

.btn {
  border-radius: 12px;
  padding: 16px 48px;
  width: 183px;
  height: 60px;
  background: #f4c550;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
  align-self: center;
  margin-bottom: 64px;
}




 @media screen and (min-width: 768px) {
  .filters,
.teacher{
  width: 768px;

}
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .filters,
  .teacher{
    width: 1440px;
  }
  
  .filters {
     padding: 20px 0 32px; 
  }
  
  .container {
    padding-left: 128px;
    padding-right: 128px;
  }
  
  .teacher > .container{
    display: flex;
    flex-direction: column;
  }
  
  .teachersList {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 64px;
  }
  
  .btn {
    border-radius: 12px;
    padding: 16px 48px;
    width: 183px;
    height: 60px;
    background: #f4c550;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #121417;
    align-self: center;
    margin-bottom: 64px;
  }
  
  
} 