*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: "Roboto", sans-serif;
  --primary-color: #F4C550;
  --background-color: #FBE9BA;
  --card-bg-color: #CBDED3;
  --secondary-bg-color: #9FB7CE;
  --highlight-color: #E0A39A;
  --warning-color: #F0AA8D;
  --border-color: #9FBAAE;
  --shadow-color: #BFD6EA;
  --accent-color: #F4C8BA;

}

#root {
  width: 1440px;
  margin: 0 auto;
}

body {

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font: inherit;
}

img {
  display: block;
  height: auto;
}