/* @media only screen and (max-width: 375px) {

} */

.hero {
  max-width: 380px;
  padding-top: 20px;
  padding-bottom: 32px;
  margin: 0 auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.heroSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.startedWrapper {
  border-radius: 30px;
  width: 100%;
  min-height: 530px;
  /* padding: 98px 108px 98px 64px; */
  padding: 20px;

  background-color: #f8f8f8;
}

.homePageTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #121417;
  margin-bottom: 32px;
}

.homePageSpan {
  font-style: italic;
  font-weight: 400;
  border-radius: 12px;
  background-color: #fbe9ba;
  margin-left: 8px;
}

.homePageDesc {
  /* width: 471px; */
  margin-bottom: 64px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  letter-spacing: -0.02em;
  color: #121417;
}

.getStarted {
  border-radius: 12px;
  width: 267px;
  height: 60px;
  background: #f4c550;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
  transition: background 0.3s ease-in-out;
}

.getStarted:hover {
  background: #ffdc86;
}

.visualWrapper {
  max-width: 380px;

}

.teacherPhoto{
  width: 100%;
}

.tutorsInfo {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  border: 1.5px dashed #f4c550;
  border-radius: 30px;
  width: 100%;
  height: calc(116px * 4);
  padding: 40px 80px;
  row-gap: 20px;
  column-gap: 20px;
}
.tutorsBlock {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* width: 351px; */
}

/* .tutorsInfo {
  display: flex;
  justify-content: space-between;
  border: 1.5px dashed #f4c550;
  border-radius: 30px;
  width: 1312px;
  height: 116px;
  padding: 40px 123px;
} */

/* .tutorsBlock {
  display: flex;
  align-items: center;
  flex-direction: row;
} */

.firstText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #121417;
  margin-right: 16px;
}

.secondText {
  max-width: 96px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
}

.secondParagraphAdd {
  width: 74px;
}

@media screen and (min-width: 768px) {

  .hero {
    max-width: 768px;

  }
  
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }

  .heroSection {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }

  .startedWrapper {
    border-radius: 30px;
    width: 720px;
    height: 530px;
    padding: 98px 64px 98px 64px;

    background-color: #f8f8f8;
  }
  .visualWrapper {
    max-width: 568px;
    margin: 0 auto;
  }

  .tutorsInfo {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    border: 1.5px dashed #f4c550;
    border-radius: 30px;
    width: 100%;
    height: calc(116px * 2);
    padding: 40px 80px;
    row-gap: 20px;
    column-gap: 20px;
  }
  .tutorsBlock {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* width: 351px; */
  }
}

@media screen and (min-width: 1440px) {

  .hero {
    max-width: 1440px;

  }
  .container {
    padding-left: 64px;
    padding-right: 64px;
    max-width: 1440px;
  }

  .heroSection {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 24px;
  }

  .startedWrapper {
    border-radius: 30px;
    width: 720px;
    height: 530px;
    padding: 98px 108px 98px 64px;

    background-color: #f8f8f8;
  }

  .visualWrapper {
    max-width: 568px;
    /* margin-right: 100px;
    margin-left: 100px; */
  }

  .tutorsInfo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1.5px dashed #f4c550;
    border-radius: 30px;
    width: 1312px;
    height: 116px;
    padding: 40px 123px;
  }
  .tutorsBlock {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
